In [1]:
import pandas as pd

In [2]:
"""getting training data and test data"""

df = pd.read_csv(r'C:\Users\lvhua\Documents\Job Application\Take Home Challenge\Statefarm\exercise_02_train.csv')

In [3]:
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x91,x92,x93,x94,x95,x96,x97,x98,x99,y
0,0.198560,74.425320,67.627745,-3.095111,-6.822327,19.048071,-0.362378,-10.699174,-22.699791,-1.561262,...,0.800948,1.553846,asia,-1.093926,16.202557,26.238591,-2.125570,9.644466,1.237667,0
1,-29.662621,24.320711,-48.205182,1.430339,-6.552206,4.263074,6.551412,4.265483,1.245095,2.246814,...,2.031707,7.544422,asia,-3.659541,29.674259,-15.141647,-36.030599,5.820376,1.952183,1
2,15.493759,-66.160459,50.512903,-2.265792,14.428578,2.509323,-6.707536,3.820842,-11.100833,-1.459825,...,-0.992474,1.385799,america,1.299144,33.018090,-19.914894,26.212736,2.372690,0.558988,1
3,-19.837651,33.210943,53.405563,1.079462,11.364251,-1.064581,9.308857,9.266076,14.552959,-2.012755,...,-1.157845,6.036804,asia,0.521396,9.664095,-27.197636,19.221130,13.382712,0.214462,0
4,11.896655,-26.717872,-17.758176,1.692017,21.553537,-5.852097,-0.857435,-2.186940,18.075272,-1.404618,...,-3.045511,-1.719337,asia,1.526071,-25.608326,33.383803,-5.703269,-11.023730,-1.191319,0

In [4]:
df.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x90,x91,x92,x94,x95,x96,x97,x98,x99,y
count,39989.000000,39990.000000,39992.000000,39991.000000,39992.000000,39994.000000,39990.000000,39991.000000,39994.000000,39993.000000,...,39993.000000,39996.000000,39993.000000,39992.000000,39992.000000,39985.000000,39987.000000,39994.000000,39987.000000,40000.00000
mean,3.446069,-7.788884,1.706058,-0.072972,0.123077,-0.608624,0.035576,-0.052651,-2.909764,-0.024265,...,-9.002636,-0.001751,-0.005731,-0.014064,-0.095040,-0.807556,-2.514305,0.038370,0.043218,0.20360
std,16.247547,37.014862,38.385085,1.503243,16.289994,15.585122,9.041371,6.953403,13.149006,2.939895,...,96.666843,2.626840,4.605320,2.166326,27.516763,23.836194,18.554646,8.450995,1.114444,0.40268
min,-60.113902,-157.341119,-163.339956,-6.276969,-61.632319,-62.808995,-35.060656,-26.736717,-53.735586,-11.497395,...,-422.711982,-10.179216,-20.044113,-9.396153,-125.064735,-108.474714,-73.908741,-35.416133,-4.376614,0.00000
25%,-7.602474,-32.740989,-24.141605,-1.088182,-10.896241,-11.183089,-6.090255,-4.747798,-11.722776,-2.004215,...,-73.209185,-1.777981,-3.113418,-1.491537,-18.465082,-16.826144,-15.026614,-5.645656,-0.710712,0.00000
50%,3.448865,-8.019993,1.963977,-0.062389,0.104277,-0.574567,0.046812,-0.037727,-2.941234,-0.054526,...,-6.884549,-0.019422,-0.007618,-0.012195,0.099472,-0.651197,-2.509525,0.023663,0.042663,0.00000
75%,14.266716,16.853383,27.516500,0.940612,11.078565,9.955357,6.100903,4.637982,5.865014,1.955100,...,56.676810,1.761629,3.100729,1.450074,18.514579,15.275896,9.889591,5.728781,0.797856,0.00000
max,75.311659,153.469221,154.051060,5.837559,65.949709,63.424046,45.053946,34.267792,66.936936,11.271939,...,378.752405,11.295740,19.414284,9.136848,112.390710,92.926545,76.120119,34.170189,4.490209,1.00000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Columns: 101 entries, x0 to y
dtypes: float64(94), int64(1), object(6)
memory usage: 30.8+ MB

In [6]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns, 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)

In [7]:
missing_value_df.tail()

    column_name  percent_missing
x85         x85           0.0350
x18         x18           0.0350
x13         x13           0.0350
x63         x63           0.0350
x96         x96           0.0375

In [8]:
df_object = df.select_dtypes(include=['object'])
df_object.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 6 columns):
x34    39993 non-null object
x35    39987 non-null object
x41    39996 non-null object
x45    39995 non-null object
x68    39992 non-null object
x93    39993 non-null object
dtypes: object(6)
memory usage: 1.8+ MB

In [9]:
df_object.describe()

               x34    x35        x41     x45    x68    x93
count        39993  39987      39996   39995  39992  39993
unique          10      8      37863      10     12      3
top     volkswagon    wed  $-1073.04  -0.01%   July   asia
freq         12455  14793          4    9578  11080  35416

In [10]:
df.x35.value_counts()

wed          14793
thurday      13375
wednesday     5920
thur          4383
tuesday        894
friday         537
monday          61
fri             24
Name: x35, dtype: int64

In [11]:
def weekday(X):
    if X == 'wed':
        return 'wednesday'
    elif X == 'thur':
        return 'thursday'
    elif X == 'thurday':
        return 'thursday'
    elif X == 'fri':
        return 'friday'
    else:
        return X

In [12]:
df.x35 = df.x35.apply(weekday)

In [13]:
"""transform to numerical features"""
df.x41 = df_object.x41.map(lambda x: x if type(x) == float else float(x.strip('$')))
df.x45 = df_object.x45.map(lambda x: x if type(x) == float else float(x.strip('%')))

In [14]:
"""split training and test data"""
y = df.y
X = df.drop(columns = ['y'])
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state= 50)

In [15]:
"""fill missing values with mode for categorical variables"""
for column in ['x34', 'x35', 'x68', 'x93']:
    X_train[column].fillna(X_train[column].mode()[0], inplace=True)

C:\Users\lvhua\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [16]:
for column in ['x34', 'x35', 'x68', 'x93']:
    X_test[column].fillna(X_train[column].mode()[0], inplace=True)

In [17]:
"""fill missing values for all numerical variables"""
import numpy as np

for col in X_train.select_dtypes(include=np.number):
    X_train[col] = X_train[col].fillna(X_train[col].mean())

C:\Users\lvhua\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [18]:
for col in X_test.select_dtypes(include=np.number):
    X_test[col] = X_test[col].fillna(X_train[col].mean())

C:\Users\lvhua\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
"""transforming categorical features"""
"""on hot encoding"""
X_train= pd.get_dummies(X_train, columns=['x34', 'x35', 'x68', 'x93'])

In [20]:
X_test = pd.get_dummies(X_test, columns=['x34', 'x35', 'x68', 'x93'])

In [22]:
from sklearn.preprocessing import StandardScaler
X_train_scaled = StandardScaler().fit_transform(X_train)
X_test_scaled = StandardScaler().fit_transform(X_test)

C:\Users\lvhua\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\lvhua\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\lvhua\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\lvhua\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [25]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [34]:
lda = LinearDiscriminantAnalysis()
X_lda = lda.fit(X_train_scaled, y_train)

C:\Users\lvhua\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [35]:
lda_var_ratios = lda.explained_variance_ratio_

In [36]:
# Create a function
def select_n_components(var_ratio, goal_var: float) -> int:
    # Set initial variance explained so far
    total_variance = 0.0
    
    # Set initial number of features
    n_components = 0
    
    # For the explained variance of each feature:
    for explained_variance in var_ratio:
        
        # Add the explained variance to the total
        total_variance += explained_variance
        
        # Add one to the number of components
        n_components += 1
        
        # If we reach our goal level of explained variance
        if total_variance >= goal_var:
            # End the loop
            break
            
    # Return the number of components
    return n_components

In [37]:
select_n_components(lda_var_ratios, 0.95)

1

In [ ]:
"""PCA"""

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline

X_train_scaling = StandardScaler().fit_transform (X_train)
X_train_pca = PCA().fit_transform (X_train_scaling)